body {
	font-family: arial;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
#world-of-poker .event-logo {
    background: url("../images/world-of-poker-sprite.png") no-repeat scroll -7px -73px transparent;
    height: 50px;
    width: 210px;
    position: absolute;
    top: 20px;
    right: 10px;
}
/*//////////////Map Dynamics///////////////////*/

/*Frame around player*/
#world-of-poker .player-marker {
    background: url("../images/world-of-poker-sprite.png") no-repeat scroll -78px -3px transparent;
    height: 67px;
    width: 97px;
}

/*Player img sized within frame*/
#world-of-poker .player-marker img{  
	margin: 4px 0 0 18px; 
	height: 48px;
	width: 48px;
	display: inline;
}
/*////////////Overlay and Content////////////*/
#world-of-poker .overlay {
    left: 0;
    width: 100%;
    position: fixed;
    bottom: -100%;
    height: 170px;
    background:rgba(0,0,0,.7);
    color: rgb(253, 251, 251);
   
}
#world-of-poker .overlay-ease-out{
    bottom: 0px;
    -webkit-transition: all 2000ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition: all 2000ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition: all 2000ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition: all 2000ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}


#world-of-poker .intro-title, .info-title{
    margin: 30px 0px 0px 0px;
    font-size: 24px;
}

#world-of-poker .intro-text, .info-text{
    margin: 0px 0px 15px 0px;
    font-size: 14px;
}




#world-of-poker .controls-btn  {
    position: absolute;
    right: 13px;
    top: -40px;
    
}

    /*All Nav Btns*/
#world-of-poker .control-btn {
    display:inline-block;
    text-align: center;
    width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	margin: 5px 1px 0px;
    padding: 5px 4px 4px;
	background: -moz-linear-gradient(top, #cdcdcd 0%, #7c7c7c 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd),to(#7c7c7c));/*w3c*/
    background: -webkit-linear-gradient(top, #cdcdcd 0%, #7c7c7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdcdcd 0%, #7c7c7c 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #cdcdcd 0%, #7c7c7c 100%); /* W3C */
	font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gray;
}

#world-of-poker .control-btn:hover {

	background: -moz-linear-gradient(top, #7c7c7c 0%, #cdcdcd 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c),to(#cdcdcd));/*w3c*/
    background: -webkit-linear-gradient(top, #7c7c7c 0%, #cdcdcd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7c7c7c 0%, #cdcdcd 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #7c7c7c 0%, #cdcdcd 100%); /* W3C */

}



    /*Map Info  Btn*/
 #world-of-poker .map-info-btn{
    
       color:#fff;
    background: #45B4EF; /* Old browsers */
    background: -moz-linear-gradient(top, #44beef 0%, #1197ce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44beef), color-stop(100%,#1197ce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #44beef 0%,#1197ce 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #44beef 0%,#1197ce 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #44beef 0%,#1197ce 100%); /* W3C */
    /*background: linear-gradient(to bottom, #1197ce 0%,#44beef 100%);*/
    border:1px #179bd3 solid;
}


 #world-of-poker .map-info-btn:hover {
    background: #45B4EF; /* Old browsers */
    background: -moz-linear-gradient(top, #1197ce 0%, #44beef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1197ce), color-stop(100%,#44beef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1197ce 0%,#44beef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1197ce 0%,#44beef 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #1197ce 0%,#44beef 100%); /* W3C */
    color:#FFF;
    text-decoration: none;
}


/*See full blog post button*/
#world-of-poker .blog-btn {
    visibility: hidden;
    color: #222;
    float: left;
    font-size: 14px;
    padding: 4px 10px 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    background: #ff9317;
    background: -webkit-linear-gradient(#ffbd4a 0%, #ff9317 100%);
    background: -o-linear-gradient(#ffbd4a 0%, #ff9317 100%);
    background: linear-gradient(#ffbd4a 0%, #ff9317 100%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    display: block;
    border: 1px solid #ff9317;
}



/*////////Excerpt and Intro Information//////*/
 #world-of-poker .txt-content{
    float: left;
	width: 50%;
	margin: 0 0 0 15px;
	
}

 #world-of-poker .txt-content p{
    margin-top: 8px;
}



/*//////////Player/Event Details/////////*/

#world-of-poker .event-details {
    display: none;
    margin-top: 0px;
    margin-left: 5%;
    float: left;
}

/*Straightens bullets*/
.event-details ul, .event-details li{
    padding-left: 0;
    margin-left: 7px;
    margin-top: 4px;
}



.details-title{
    font-size: 24px;
    margin-top: 26px;
}

.details-text{
    font-size: 14px;
}

/*/////////////info-panel////////////*/

#world-of-poker .info-panel-title{
    margin-top: 5px;
}
        /* Event icon*/
#world-of-poker .event-icon{
    background: url("../images/world-of-poker-sprite.png") no-repeat scroll -20px -3px;
    width:35px;
    height:50px;
    float:left;
    margin: 5px 52px 5px 30px;
}
        /* Player icon*/
#world-of-poker .player-icon{
    background: url("../images/world-of-poker-sprite.png") no-repeat scroll;
    background-size: 350px 80px;
    background-position: -255px -5px;
    width: 40px;
    height: 50px;
    float: left;
    margin: 5px 0 5px 0px;
}

#world-of-poker .info-panel .all{
    font-size: 13px;
    font-weight: bold;
}
  
#world-of-poker .info-panel{
    /*visibility: hidden;*/
    /*opacity: 0;*/
    display:none;
    position: fixed;
    bottom: 210px;
    right: 10px;
    border: none;
    width: 190px;
    background: none repeat scroll 0 0 #F2F2F2;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -webkit-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    text-align: center;
    color:black;
    font-size: 11px;
    padding: 5px;
    margin: 0 5px 10px 0; 
}

#world-of-poker .show-info-panel{
    visibility: visible;
    opacity: 1.0;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}

#world-of-poker .hide-info-panel{
    visibility: none;
    opacity: 0;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}


#world-of-poker .l{
     margin-right: 8px;
}

/*///////Semi Responsive///////*/



@media screen and (max-width: 600px) {
    #world-of-poker .intro-title, .info-title, .details-title{
        font-size: 16px;
    }

     #world-of-poker .intro-text, .info-text, .details-text{
        font-size: 12px;
    }

    #world-of-poker .blog-btn{
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    #world-of-poker .txt-content{
         width: 95%;
     }

     #world-of-poker .control-btn{
        font-size: 8px;
        width: 65px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    #world-of-poker .overlay-scroll{
        overflow: scroll;
        height:170px;
    }
}
/*////////////////////Small event logo test/////////////////////////*/
.event-logo {
    
    background: url("../images/world-of-poker-sprite.png") no-repeat scroll -7px -73px transparent;
    height: 25px;
    width: 105px;
    position: absolute;
    top: 20px;
    right: 10px;
}

@media screen and (max-width: 1000px) {
    
    #world-of-poker .event-logo {
        display: none;
    }
}

#world-of-poker .event-logo-small {
    background: url("../images/world-of-poker-sprite.png") no-repeat scroll -7px -73px transparent;
    display:none;
    background-size: 415px 81px;
    background-position: 15px -32px;
    height: 49px;
    width: 135px;
    position: absolute;
    top: 25px;
    right: 72px;
}
@media screen and (max-width: 999px) {
    
#world-of-poker .event-logo-small {
    display: block;
  }
}

@media screen and (max-width: 600px) {
    
    #world-of-poker .event-logo-small {
        display: none;
    }
}


















