.main-color{
	
	background-color: #f5f9f9;
}

.text{
	
	padding: 4em 2em 0em 2em;
	font-family: 'Poiret One', cursive;
	font-size: 1.513em;
	font-weight: bold;
	overflow: scroll;
	color: black;
}

li {
	
	list-style-type: none;
}

.header-left{

	padding-right: 0px;
}

.header-right{

	padding-left: 0px;
}


.my-image{
	
	background: url('../images/index-imgs/my-image.jpg') center center no-repeat;
	background-color: rgba(196,212,175, 0.1);
	width: 100%;
	height: 240px;

}


/*.outer-for-flex{

	display: flex;
  	align-items: center;
  	justify-content: center;
  	
}*/



#canvas{

	width: 100%;
}

.canvas-container {
		
		background-color: rgba(196,212,175, 0.1);
		height: 240px;
	}


.no-pad{

	padding-left: 0px;
	padding-right: 0px;
}

.no-margin{

	margin-left: 0px;
	margin-right: 0px;

}

/*//////Image Transitions////////*/


.imgs {

 	-webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
}

.transition-left{
	
	-webkit-transform:rotate(-5deg) scale(1.1);
}

.transition-right{
	
	-webkit-transform:rotate(5deg) scale(1.1);
}

.transition-zoom {
	
		-webkit-transform: scale(1.1);
	}


.overflow{

	overflow: hidden;
}

.overlay {

    /*background: rgba(0, 51, 102, 1);*/
    display: block;
   /* padding: 10%;*/
}
  
.img-text{

	margin-top: -20%;
	color:white;
}

.logo-text-style{

	font-family: 'Poiret One', cursive;
	font-weight: bold;
	overflow: scroll;
	color: black;
}

.logo-text{
	
	@extend .logo-text-style;
	font-size: 16px;
	margin-bottom: 2em;


	}

.logo-thanks{
	
	
	@extend .logo-text-style;
	margin-top: 1em;
	font-size: 1.53em;
	
}
	
.logo-wrapper{

	padding-left: 2em;
}

.logo {

 	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition-shadow{

	-webkit-box-shadow:  0 5px 5px rgba(182, 182, 182, 0.75);
       -moz-box-shadow:  0 5px 5px rgba(182, 182, 182, 0.75);
            box-shadow:  0 5px 5px rgba(182, 182, 182, 0.75);
}

@media screen and (max-width: 768px){

	.overflow{

		margin-bottom: .5em;
	}

}

@media screen and (max-width: 970px){

	.text{

		padding: 1em 2em 1em 2em;
	}
}



footer{
	
	background-color: rgba(196,212,175, 0.1);
	height: 150px;
	font-weight: lighter;
	font-variant: helvetica;
	text-align: center;
}





/*.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/