html{

	margin: 0px;
    padding: 0px;
}
body{
	
	/*background-image: url("../images/bg.jpg");*/
	/*background-image: url("../images/bg2.jpg");*/
	background-image: url('..images/')
    background-size: cover;
    background-attachment: fixed;


}

.zeroPaddingMargin{

	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
 

/*Remeber to hide the top row single button and hav it show on the bottom when under 1200*/

.my-btns {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin: 8px;
	width: 105px;
	border:4px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;

}
.my-btns:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.my-btns:active {

	position:relative;
	top:1px;
}



/*///////////////////////*/


/*#container {

	width: 375px;
	height: 108px;
	position: relative;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10em;

    /* min-height: 10em;
    display: table-cell;
    vertical-align: middle;*/
/*}*/

.inside-container{
	
	margin-left: auto;
    margin-right: auto;
    /*background-color: white;*/

}

.border {
	position: absolute;
	width: 0px; border: 1px solid red; 
}
/*.borderh { 
	height: 0px; border: 1px solid black; 
}
.borderv { 
	width: 0px; border: 1px solid black; 
}*/

#topbar {   
	left: 0px; top: 0px;
}
#rightbar {
	right: 0px; top: 0px;
}
#bottombar {   
	right: 0px; bottom: 0px;
}
#leftbar {
	left: 0px; bottom: 0px;
}



#code-scroll {

	width: 100%;
	height: 230px;
	background: url('../images/codeSmall.png') repeat-y;
	-webkit-animation: backgroundScroll 10s linear infinite;
	animation: backgroundScroll 100s linear infinite;
}
 
@-webkit-keyframes backgroundScroll {

	from {background-position: 0 0;}
	to {background-position: -1540px 0;}	
}	
 
/*@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}*/




