body{

	
	
}

.text{

	
}
.top{

	background-color: rgba(109, 134, 115, 0.5);

	


}

.middle{

	background-color: rgba(196,212,175, 0.5);

}

.bottom{

	background-color: rgba(104,168,173, 0.5);

}

.all{

	height: 200px;
}

