/*General stuff*/

.alignCenter{
	text-align:center;
}

.selectWidth{
	width:20%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

#logo{
	width:63px;
	height:63px;
	margin-top:5px;
}

	/*Menu*/

	#page-content-wrapper {
		padding-left:0 !important;
	}

	.container-fluid{
		padding-left:0 !important;
	}

	#menu-toggle{
		margin-top:25%;
		background-color:rgba(255,255,255,0.05);
		border:none;
		color:white;
		float:left;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	.navbar-toggle{
		width:100%;
		margin:auto;
		border:none;
	}

	.navbar{
		min-height:0;
	}

	.icon-bar{
		background:black;
	}

	

	.navbar-collapse{
		padding:0;
		background-color:rgba(255,255,255,0.8);
	}

	.navbar-header{
		background-color:rgba(255,255,255,0.8);
	}

	.menu{
		background-color:rgba(255,255,255,0.8);
	}

	.menu a {
		font-family: 'Julius Sans One', sans-serif;
		color:black;
		font-size: 15px;
	}

	.border_right{
	border-right-style:outset;
	border-right-width:1px;
	border-right-color:rgba(0,0,0,0.4);
	}

	#mainMenu a:hover{
		background:rgba(44, 62, 80,0.8)!important;
		color:rgba(255,255,255,0.9);
		text-decoration:underline;
	}

	#mainMenu li:hover{
		background:white;
	}

	#mainMenu{
		margin-bottom:2px;
	}


	.page-header{
		padding:0;
		border:none;
	}

	/*Menu end*/

/*General stuff end*/

/*Frontpage specific*/

.header{
	width:100%;
	background-color:rgba(255,255,255,1);
	margin:0;
}

.header h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 40px;
	margin:0;
	padding-bottom:5px;
}

/*Frontpage specific end*/


/*----------*/
/*LOGIN PAGE*/
/*----------*/

#login {
	background:url("../images/loginBGblur.jpg") no-repeat center center fixed;
	height: 100%;
	width: 100%;
	color:rgba(0,0,0,0.8);
}

#loginHeader{
	background-color:rgba(255,255,255,0);
	padding-top:70px;
}

#loginHeader h1{
	font-size: 55px;
    text-shadow:rgba(0,0,0,0.3)4px 4px;
}

.input-group {
	margin-top:10px;
}

#loginButton input{
	margin-top:10px;
	background-color:rgba(0,0,0,0.6);
	border:none;
}

#forgotButton button {
	background-color:rgba(0,0,0,0.6);
	border:none;
}

form{
	margin-bottom:5px;
}

.lol a{
	text-decoration:none;
}

.lol a:hover{
	text-decoration:none;
}

.lol{
	color:white;
}

#loginButton input:hover {
	background:#6C7A89;
	border:none;
}

#forgotButton button:hover {
	background:#6C7A89;
	border:none;
}

#moreInfo button {
	background-color:rgba(0,0,0,0.6);
	border:none;
	margin-top:5px;
}

#moreInfo button:hover{
	background:#6C7A89;
	border:none;
}

#restoreButtons button:hover {
	background:rgba(150,40,0,0.4);
}

#submitButton button:hover {
	background:rgba(150,40,0,0.4);
}

#restoreButtons button {
	background:#96281B;
	margin-top:10px;
	border:none;
}

#submitButton button {
	background:#96281B;
	margin-top:10px;
	border:none;
}

.container-fluid {
	padding:10px;
	text-align: center;
	color:black;
}

.input-group-addon {
	background-color:rgba(0,0,0,0.6);
	color:white;
	border:none;
}

#e_mail_addon {
	background:#96281B;
}

#e_mail_addon:hover{
	background:rgba(150,40,0,0.4);
}

#loginAlert {
	margin:0;
}

#loginHeader{
	text-align:center;
}

#loginPanel{
	margin-top:60px;
	border:none;
	padding-top:25px;
	padding-bottom:25px;
	background-color:rgba(0,0,0,0.4);
	box-shadow:rgba(0,0,0,0.8) 3px 3px 5px 1px;
}

#intresseknappen {
    background-color: #3bb574;
    border-style: none;
}

#intresseknappen:hover {
    background-color: #7fc37f;
    border-style: none;
}

/*----------*/
/*FRONT PAGE*/
/*----------*/

#frontPageBody{
	background:url("../images/frontpageBG.png");
}

#frontPageHeader{
	font-family: 'Numans', sans-serif;
	color:rgba(255,255,255,0.9);
	margin-top:30px;
	background-color:rgba(255,255,255,0.05);
	border-radius:10px;
	box-shadow:rgba(255,255,255,0.2) 2px 2px 5px 1px;
}

.frontPageContent{
	background-color:rgba(255,255,255,0.1);
	border-radius:10px;
	box-shadow:rgba(255,255,255,0.2) 6px 6px 5px 1px;
}

.frontPageContent h3, p{
	font-family: 'Numans', sans-serif;
	color:rgba(255,255,255,0.9);
}

#iphone{
	border-radius:35px;
	margin-top:50px;
	opacity:0.8;
	box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
}

#lameHeaders{
	margin-top:100px;
	color:rgba(255,255,255,0.8);
	background:rgba(0,0,0,0.4);
	box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
	border-radius:5px;
	padding:25px;
	font-family: 'Julius Sans One', sans-serif;
}
/*------------*/
/*PROFILE PAGE*/
/*------------*/

/*Sidebar*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color:rgba(255,255,255,0.05);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Sidebar end*/

#profilePageBody{
	background:url("../images/profilepageBG.png");
}

#profilePanel{
	
	background-color:rgba(255,255,255,0.02);
	border-color:rgba(255,255,255,0.1);
	padding:0;
}

.panel-heading{
	background-color:rgba(255,255,255,0.03) !important;
	border-color:rgba(255,255,255,0.2) !important;
	color:rgba(255,255,255,0.9) !important;
}

#profilePanel input {
	background-color:rgba(44, 62, 80,0.4);
	box-shadow:rgba(0,0,0,0.8) 2px 2px 5px 1px;
	color:rgba(255,255,255,0.9);
	border:none;
}

#profilePanel input:focus{
	background-color:rgba(34, 49, 63,1);
}

#profilePanel span {
	box-shadow:rgba(0,0,0,0.8) 2px 2px 5px 1px;
	background:rgba(0,0,0,0.2);
	color:rgba(255,255,255,0.9);
}

.formSubmits {
	margin-top:10px;
	background-color:rgba(0,0,0,0.2) !important;
}

.formSubmits:hover{
	background-color:rgba(0,0,0,0.5) !important;
}


/*Profile page end*/

/*Classlist page start*/

#classlistBody{
	background:url("../images/classlistBG.png");
	
	color:rgba(255,255,255,0.9);
}

#classlistBody h1{
	color:black;
}

.classlistTable{
	background-color:rgba(0,0,0,0.1);
	margin-top:50px;
}

#classlistHeader{
	color:black;
}

/*Classlist page end*/

/*Grading page start*/

#gradingPageBody{
	background:url("../images/gradingpageBG.png");
}

/*Grading page end*/
h2{
	color:white;
}

/*-----------*/
/*APPLICATION*/
/*-----------*/

#contactinfo{
	border-radius:35px;
	margin-top:50px;
	opacity:0.8;
	box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
    color: rgba(255,255,255,0.8);
}

#lame{
	margin-top:100px;
	color:rgba(255,255,255,0.8);
	background:rgba(0,0,0,0.4);
	box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
	border-radius:5px;
	padding:25px;
	font-family: 'Julius Sans One', sans-serif;
}

/*Newspage*/

#newsBackground{
	background:url("../images/grey.png");
}

.newsArticle{
	text-align:center;
	background-color:rgba(255,255,255,0.9);
}

.newsArticle button{
	float:right;
}

/*Application page*/

#contactinfo{
	border-radius:35px;
	margin-top:50px;
	opacity:0.8;
	box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
}

#lame{
	margin-top:100px;
	color:rgba(255,255,255,0.8);
	background:rgba(0,0,0,0.4);
	box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
	border-radius:5px;
	padding:25px;
	font-family: 'Julius Sans One', sans-serif;
}



}

#contactfields {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 12px;
}

#applicationButton {
    color: black;
    border-radius: 5px;
}

.fieldcolor {
    color: black;
}

#mainPicture {
    margin: 50px 0px 0px 50px;
}

#studentGradesBody{
	background:url("../images/studentgradesBG.png");
	color:white;
}




/*/////This is css for the news page//////*/


.bothTexts{
   
    border: solid;
    padding: 20px 15px 20px 15px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    border-radius: 6px;

 
    }

#textLeft{
    float: left;
    margin-left: 3%;
    margin-right: 4;
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(255,255,255,0.7);
    border-width: 1px; 
    box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
    
}

#textRight{
    float: right;
    margin-right: 3%;
    margin-left: 4%;
    margin-bottom: 3%;
     background-color: rgba(0,0,0,0.5);
    border-color: rgba(255,255,255,0.7);
    border-width: 1px;
    box-shadow:rgba(0,0,0,0.6) 6px 6px 5px 1px;
    
}

div.imageLeft, div.imageRight {
    content: url("../images/search.jpg") no-repeat center center;
     display:block;
    margin:auto;
    
}
@media screen and (max-width: 991px){
    #textLeft{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        
    }
     #textRight{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
} 


@media screen and (max-width: 600px){
    #textLeft{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
     #textRight{
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
} 



/*////////////////css to contacs page//////////////*/


#contactPageBackground{
    background-color: black;
}

.cities{
    font-family: ;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

#allAddresses{
    color:white;
}

hr{
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#postAddressBar{
    width: 60%;
    height: 4px;

}
@media screen and (max-width: 991px){
    hr{
        width: 60%;
    }
} 

@media screen and (max-width: 600px) {
   
     hr{
        display: none;
        #postAddressBar"
    }
    #postAddressBar{
        display: inherit;
    }
    #contactHeading{
        margin-bottom: 0px;
    }
    .cities{
        margin-top: 30px;

    }

}

#contactHeading{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    
}

#stockholm, #malmo, #goteborg{
text-align: center;
margin-bottom: 3%;        

}

footer{

    margin-top:20px;
    text-align: center;
    padding-bottom: 20px;

}

#postAddressBar{
    margin-top: 60px;

}
















