.container-fluid{

	margin: 0;
	padding: 0;
}

.text{

	text-align: center;
	
}

.log-in{

	content:url("../images/logIn.png");
}

.divider{
	
	content: url("../images/divider.png");
	
}

.home{
	
	content:url("../images/homePage.png");
}

.add{
	
	content: url("../images/addUser.png");
}

.contact{
	
	content: url("../images/contactPage.png");
    
}

.news{
	
	content: url("../images/newsPage.png");
 }

.information{
	
	content: url("../images/informationPage.png");
}

