/*///////////////////////////////*/
/*/////////////Mix-ins///////////*/
/*///////////////////////////////*/
$base-color: #535353;/*#00446b*//*#005485*/
$base-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;/*Helvetica Neue, Helvetica, Arial, sans-serif*/
$base-font-color: #004a75;


@mixin result-output($color){
    
    background-color: $color;

}

.low-end{

        @include result-output(#78d4f0)
}

.mid-low{

    @include result-output(#0d3594)
}
     .middle{

    @include result-output(#008837)
}  
   .mid-high{

    @include result-output(#d66e24)
}
 .high-end{

    @include result-output(#d90000)
}




/*///////////////////////////////*/
/*/////////End Mix-ins///////////*/
/*///////////////////////////////*/

/*/////////////////////////////////*/
/*/////////////General/////////////*/
/*/////////////////////////////////*/
  
body{

     background-color: #f5fbff;
}

.main-wrapper{

    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    background-color: white;
}

.l-r-margin{
    
    margin-right: 0px;
    margin-left: 0px;
}

.l-r-padding{
    padding-left: 0px;
    padding-right: 0px;
  }

.white{

  background-color: white;

}

/*///////Header//////*/

.logo{

    margin: 5px 0px 0px -5px;
    max-width: 500px;
}

.header-contact{

    color: #545454;
    font-weight: bold;
    margin-top: 1em;
   

    p:first-child{

        font-size: 15px;
    }

    p {

       text-align: right;
       margin: 0 0 7px;
   }
    
    a:nth-child(even):link{

        color: #55acee;

  }
   a:hover{

        color:gray;

   }
   a:nth-child(even):hover{

        color: gray;

    }

}

.facebook-icon-small{
    
    margin: 0px 15px 0px 15px;

}

.icons-small i:nth-child(-n+2){
    
    display: none;
}

.icons-small{
    
    margin-bottom: 0px;
    margin-top: 0px;

}

.twitter-icon{

    color: #55acee;
}


/*/////End Header/////*/


/*/////////Nav///////*/

.navbar-style{

    background: #535353;
    border: none;
    min-height: 24px;
    border: none;
    margin-bottom: 0px;
}


.navbar-inverse {

    .navbar-brand{

        color: white;
        margin:0;
        font-family: $base-font;
    }

    .navbar-nav>li>a{

        color: white;
        font-family: $base-font;
    }
}

.navbar-toggle{

    margin-right: 1em;
    border: none;
    padding: 9px 0px;
}


.navbar-inverse .navbar-nav>li>a:hover{
    
    color: gray;
    
}


/*/////////End Nav Style/////*/

/*////////Main Content///////*/

.page-title{

    font-family:$base-font; 
    font-size: 24px;
    line-height: 30px;
    color: $base-font-color;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.bottom-top{
  
    margin-top: 30px;
    margin-bottom: 30px;
}

.top{

    margin-top: 30px;
}

.panel-default>.panel-heading {
    
    /*All Panel Headings Styles*/
    color: white;
    background-color: $base-color;
    /*border-color: #ddd;*/
}

.panel-default>.result-box-title{
      
    background-color: $base-color;
    border-color: #ddd;
    color: white;
    font-family: $base-font;
    color: $base-font-color;
}

.result-box-title{

    -webkit-transition: height 10s; /* Safari */
    transition: height 10s;
    transition-timing-function: ease-in-out;
}

@mixin lower-statement($where){
    
    text-align: $where;
    font-size: 18px;
    margin-top: 2em;
    font-family: $base-font;

}

.gallery-lower-statment{

    @include lower-statement(center)

}

.contact-lower-statment{

    @include lower-statement(left)

}



/*//////End Main Content////*/


/*/////////Panels Headings//////*/

@mixin my-panel-headings($text-align){

    font-family: $base-font;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-align: $text-align;
    padding: 4px;
}

.panel-default .result-box-title{

    @include my-panel-headings(center);
    background-color: #ddd;
}

.panel-default .calc-box-title{

    @include my-panel-headings(center); 
   
}

.sub-content-panel-heading{
    
    @include my-panel-headings(center);

    i{
        margin-right: 15px;
    }

    p {
        margin-bottom: 0px;
    }


}

/*/////////End Panels Headings//////*/
/*////////Sub Content//////*/

.text-border a{
      
    text-decoration: none;
}

.sub-content-panel .panel-body{
    

    height: 300px;
    border-radius: 5px;
    color: black;
    overflow-y: auto;
    font-family: $base-font;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px  rgba(0, 0, 0, 0.25);
}

/*/////////////Footer Page///////*/

.footer{

    background-color: darken($base-color, 10%);
    font-family: $base-font;
    padding-top: 20px;
    padding-bottom: 20px;   
    color: white;
    

    ul{

        text-decoration: none;
        list-style-type: none;
        padding-left: 0px;

            li a{
                color: white;

            }
    }
}


.copyright{

    font-size: 8px;
    margin-bottom:5px;
    margin-top: 8px;
}

.footer-icons-style a{

    color: white;

}

.bottom{

    margin-bottom: 5px;
}


.pointer{
    
    display: none;
}


.center-all{

    text-align: center;
   
}

.mail { 

    font-size: 12px;
    color: white;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

.small-footer-icons{

    margin-right: 10px; 
}

.footer-email .bottom{

    font-size: 12px;
}

.disclaimer{

    font-size: 11px;
    margin-bottom: -15px;

}

.disclaimer-top{

    font-size: 11px;
}

/*/////////End Footer Page///////*/

/*///////////////////////////////*/
/*/////////////End General///////*/
/*///////////////////////////////*/

/*///////////////////////////////*/
/*/////////////Index Page////////*/
/*///////////////////////////////*/

.slick-dots{

    position: static;
}


/*///////////////////////////////*/
/*/////////////End Index/////////*/
/*///////////////////////////////*/

/*///////////////////////////////*/
/*/////////Contact Page//////////*/
/*///////////////////////////////*/

.address-row-style{

    margin-top: 20px;

    p{
         margin: 0;
    }

    p:last-child{

        margin-bottom: 30px;
    }

    p:first-child{
        font-weight: bold;
    }
    a:link { 
        color:  #005f99;
        font-size: 1.2em
    }
    a:hover { 
        color: #99D8FF;
    } 
    a:active {
        color: #99D8FF;
    } 
}

.contact-info{

   p{
    
        margin-bottom: 0px;
    }

    p:first-child{
        
        
        font-weight: bold;
        font-size: 17px;
    }

    p:last-child{

        margin-bottom: 10px;
    }
}


.alert-danger-alt { 

    border-color: #B63E5A;
    background: #E26868;
    color: #fff;
    margin-bottom: 5px;
    

}

.alert-success-alt {

    border-color: #19B99A;
    background: #20A286;
    color: #fff;
    margin-bottom: 5px;
    

}

.alert-warning-alt { 

    border-color: #F3F3EB;
    background: #E9CEAC;
    color: #fff;
    margin-bottom: 5px;
    

}

.fa-times-circle{

    color: black;
}

.glyphicon { 

    margin-right:10px; 
}

.alert a {

    color: green;
}

a.current-nav-choice {

  background: #737373;

}
.contact-text-area{

    margin-bottom: 15px;
    
}



/*///////////////////////////////*/
/*/////////End Contact Page///////////*/
/*///////////////////////////////*/

/*///////////////////////////////*/
/*/////////Estimate Page////////*/
/*///////////////////////////////*/


.calc-panel{

    margin-top: 30px;
    margin-bottom: 30px;
}
.house-pic{
    
    margin-top: 30px;
    margin-bottom: 44px;
    width: 380px;
}

.map{

    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.map-container{

    position: relative;

}

.results-map{
    
    position: absolute;
    list-style-type: none;
    color: black;
    background-color: white;
    width: inherit;
    text-align: center;
    height: 40px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    
    -webkit-box-shadow: inset 0px 3px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 3px 16px -1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 3px 6px -1px rgba(0,0,0,0.75);
    display: none;
}

.low-end-map{
    
    @extend .results-map;
    top: 110px;
    left: 195px;
}

.naso-estimate-map{
    
    @extend .results-map;
    top: 95px;
    left: 360px;
}

.middle-map{
    
    @extend .results-map;
    top: 95px;
    left: 560px;
}

.mid-high-map{
    
    @extend .results-map;
    top: 225px;
    left: 420px;
}

.high-end-map{
    
    @extend .results-map;
    top: 70px;
    left: 60px;
    
}

.map-text{

   margin-bottom: 20px;
   font-size: 14px;
   font-family: $base-font;
   text-align: center;

   span{

    font-style: italic;
    
    }
}

.form-horizontal .control-label{

    padding-top: 7px;
    margin-bottom: 5px;
    text-align: left; 
}

.all-results{

    text-align: center;
    
    p:first-child{
        
        display: block;
        font-size: 14px;
    }

    p:last-child{
        
        text-align: center;
        font-weight: 700;
    }

}

.result-box-style{
  
    background-color: #d90000;
}
    
.result-blue{

    background-color: #0d3594;
}

.result-orange{
      
    background-color: #ff6600;
}
    
.result-red{
      
    background-color: #d90000 ;
}

.result-green{
  
    background-color: #008837  ;

}
 
 .result-light-blue{
  
    background-color: #78d4f0  ;
}

.calc-hide-pic{

    display:none;
}

.calc-display-pic{

    display: block;
}

.breakdown-text{

    font-weight: bold;
}

.sweet-alert .sa-icon {

    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 0px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.sweet-alert{

    background-color: rgba(0,0,0,.5);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 300px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    overflow: hidden;
    display: none;
    z-index: 99999;

    h2{
        color: white;
        font-size: 20px;
        font-family: $base-font;
    }
}

.roof-complexity-text{

    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 15px;
    color: #004a75;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.naso-price{

    font-size: 20px;
    text-align: center; 
    padding-bottom: 0px;
    color: #0d3594;
    font-weight: bold;   
}

#naso-estimate{

    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


/*///////////////////////////////*/
/*/////////End Estimate Page///*/
/*///////////////////////////////*/

/*///////////////////////////////*/
/*/////////Acknoledgments Page//////*/
/*///////////////////////////////*/


.hiding{

    display: none;
}

.showing{

    display: block;
}

.quote{

    color: #999999;
}

/*///////////////////////////////*/
/*////End Testimonials Page//////*/
/*///////////////////////////////*/

/*/////////////////////////////////*/
/*/////////////Gallery Page////////*/
/*/////////////////////////////////*/

.gallery-page-title-right{

    margin-bottom: 0px;
    text-align: left;
}

.gallery-text{

    font-family: $base-font;
}

.slick-prev {
    margin-left: 50px;
     
    z-index: 1000;
}

.slick-next {

    margin-right: 50px;
    
    z-index: 1000; 
}

.slick-list {
    z-index: 1;
}

.slick-slider{

    margin-bottom: 0px;
}


/*////////////////////////////////*/
/*/////////EndGallery Page////////*/
/*////////////////////////////////*/

/*///////////////////////////////*/
/*/////Video/Newsletter//////////*/
/*///////////////////////////////*/


.btn-newsletter:hover, .btn-search-videos:hover{

    background: linear-gradient(#004a75 0%, #05EFF7 100%);
    color: white;

}

.btn-newsletter, .btn-search-videos{
      
    color: white;
    background: linear-gradient(#05EFF7 0%, #004a75 100%);
    margin-top: 7px;
    width: 130px;
}

   
.outer-video {
      
    border: solid #eeeeee 10px;
    background-color: #f5f5f5;
    padding: 1px 16px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 51, 0.93);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 51, 0.93);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 51, 0.93);
   
  }

.newsletter-title{
      
    margin-top: 30px;
    text-align: center;
    font-family: serif;
             
}

.newsletter-statement{

    margin-top: 15px;
    text-align: center;
    font-family: serif;
}
  
.newsletter-footer{
    
    margin-top: 15px;
    margin-bottom: 17px;
    text-align: center;
    font-family: serif;
}

.box {

    border: solid #eeeeee 10px;
    background-color: #f5f5f5;
    padding: 1px 16px;
    margin: 0px 0px 30px;
    position: relative;
    max-height: 413px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 51, 0.93);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 51, 0.93);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 51, 0.93);

}

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; 
    height: 75px;
    text-align: right;
}

.ribbon span {
    
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#05EFF7 0%, #004a75 100%);
    /*box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);*/
    position: absolute;
    top: 19px; left: -21px;
}

.ribbon span::before {
  
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #004a75;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
   border-top: 3px solid #004a75;
}

.ribbon span::after {
    
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #004a75;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #004a75;
}

.video-select{

    margin-top: 15px;
}

.center-block {

   /* display: block;*/
    margin-left: auto;
    margin-right: auto;
 }


/*///////////////////////////////*/
/*///////End Video/Newsletter////*/
/*///////////////////////////////*/


/*///////////////////////////////*/
/*/////////Media Screen//////////*/
/*///////////////////////////////*/

@media screen and(max-width: 1094px)  {

    .navbar-collapse.collapse {

        display: none !important;
    }

    .navbar-collapse {

        overflow-x: visible !important;
    }

    .navbar-collapse.in {

         overflow-y: auto !important;
    }

    .collapse.in {

        display: block !important;
    }

    .navbar-toggle {

        display: block;
    }

    .navbar-header {

        float: none;
    }

    .navbar-collapse {

        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-nav {

        float: none!important;
    
    }

    .navbar-nav>li {

    float: none;

    }

    .navbar-nav>li>a {

        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 992px){

    .center-md{

        text-align: center;
    }

    .center-block-md{

        display:inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .center-md {
        
        text-align: center;
        
    }

    .bottom-top{

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .sub-content-panel .panel-body{

        height: 170px;
   
    }
}

@media screen and (max-width: 768px){

    .logo {

        margin: 15px 0px 0px 10px;
    }

    .center-sm {
        
        text-align: center;
        
    }

    .center-block-sm{
        
        background-color: red;
        display:inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .brand{

        span{
            
            display: none;
        }
    }

    .icons-small i:nth-child(-n+2){
    
        display: inline;
    }

    .hide-me-xs{
        
        display: none;
    }
}



@media screen and (max-width: 480px){

    .naso-price{

        font-size: 12px;
        text-align: center; 
        padding-bottom: 0px;
        color: #0d3594;
        font-weight: bold;   
    }

    #naso-estimate{

        padding-bottom: 10px;
        padding-top: 8px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }

    .logo{

        margin: auto;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-contact {
        
        font-weight: 500;
        margin: 0;
        float: none;
    

        p {

            text-align: center;
            margin: 0 0 0px;
        }
    }

    .navbar-brand{

    padding: 15px 8px;

    }
    
    .brand{
        
        font-weight: 200;
        font-size: 12px;
    }

    .navbar-style{

        margin-top: 5px;
    }

    .sub-content-panel .panel-body{

        height: 250px;
    
    }

    .pointer{

        display: block;
        color:white;
        margin-top: 13px;
    }
}
